.row{
    background-color: white;
}

.col-md-3{
    background-color: white;
}
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

.card {

    box-shadow: 4px 4px 8px 4px rgba(255, 255, 255, 0.274);
    transition: 0.3s;
    width: 40%;
    display: block;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color:black;
    border-color:rgba(238, 198, 198, 0.979);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img{
    width:100%;
    height:180px
}

@media screen and (max-width: 1024px) {
    .card img{
        width:100%;
        height:120px
    }
  }

@media screen and (max-width: 770px) {
    .card img{
        width:100%;
        height:90px
    }
  }

  @media screen and (max-width: 420px) {
    .card img{
        width:100%;
        height:70px
    }
  }

  .head
  {
      background-color: #4d4dff;
      height:50px;
      width:100%;
      border-radius: 3px;
      margin:6px;
  }
  .head-font
  {
      text-align: center;
      color:white;
      font-size:24px;
      font-family: Courier New, Courier, monospace;
      padding:2px;
  }