<div id="footerdiv">

  <img src="assets/img/logo2.png" width="375" id="logo">
  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
      <b style="font-size: 1.2em">Get to know us</b>
      <br>
      <br>
      <a href="#">About Us</a>
      <br>
      <a href="#">Careers</a>
      <br>
      <a href="#">Gift Cards</a>
      <br>
      <a href="#">Vouchers</a>
      <br>
    </div>

    <div class="col-md-3">
      <b style="font-size: 1.2em">Connect with us</b>
      <br>
      <br>
      <a href="#">Facebook</a>
      <br>
      <a href="#">Twitter</a>
      <br>
      <a href="#">Instagram</a>
      <br>
      <a href="#">LinkedIn</a>
      <br>
    </div>

    <div class="col-md-3">
      <b style="font-size: 1.2em">Make Money</b>
      <br>
      <br>
      <a href="#">Sell</a>
      <br>
      <a href="#">Promote</a>
      <br>
      <a href="#">Refer a friend</a>
      <br>
    </div>


    <div class="col-md-3">
      <b style="font-size: 1.2em">Let us help you</b>
      <br>
      <br>
      <a href="#">Your account</a>
      <br>
      <a href="#">Return Center</a>
      <br>
      <a href="#">Feedback</a>
      <br>
      <a href="#">Help</a>
      <br>
    </div>

  </div>

&copy; Aditya Sanghi, Akash Atri
  
</div>